[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=GapFill
X-Python-2-Compatible=false
X-Krita-Manual=myPluginManual.html
Name=Gap Fill
Comment= Fills gaps in lineart